<p>You are receiving this email because you submitted the issue <a href='{{.Link}}'>#{{.Number}}</a>.</p>
<p><a href='https://gitee.com/{{.Commenter}}'>@{{.Commenter}}</a>&nbsp;said:</p>
<pre>{{.Body}}</pre>
