<p>{{.Repo}}仓库新增了一条issue，</p>
<p>issue标题为 <a href='{{.Link}}'>{{.Title}}</a>，点击标题即可跳转至issue，</p>
<p>在issue中发表评论可与提交者沟通</p></br></br>


<p>An issue has been created on the repository {{.Repo}},</p>
<p>Visit <a href='{{.Link}}'>{{.Title}}</a> to show details.</p>
<p>You can communicate with the submitter through comments on this issue.</p>
