<p>We have received your request to submit a quick issue to openEuler projects. Please ignore this email if it is not operated by yourself.</p>
<p>The following is the verification code</p>
<p><b>{{.Code}}</b></p>
<p>The verification code is valid for 10 minutes. If it expires, you need to obtain it again.</p></br>
Have any questions or need help? Just create an issue to <a href='https://gitee.com/openeuler/infrastructure/issues'>Infrastructure</a> or send an email to infra@openeuler.org.
